<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Emergency App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
<ion-card>
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>

  <ion-card-content>
 <!-- Number type input -->
 <ion-item >
<ion-label position="floating">Enter Mobile Number</ion-label>
<ion-input type="number"></ion-input>
 </ion-item>
<ion-button color="dark" expand="block" routerLink="/profile" routerDirection="root">Continue</ion-button>
  </ion-card-content>
    
    
    <!-- Otp Details-->
    <div style="display: none;">
  <ion-card-content>
 <!-- Number type input -->
 <ion-item>
<ion-label position="floating">Enter Mobile Number</ion-label>
<ion-input type="number"></ion-input>
 </ion-item>
<ion-button color="dark" expand="block" routerLink="/profile" routerDirection="root">Continue</ion-button>
</ion-card-content>
   </div> 
</ion-card>
</ion-content>
