.user-avatar{
    text-align: center;
    width: 128px;
    height: 128px;
    margin: 0 auto;
}

h3{
    font-size: 24px;
    color: #000;
    margin-bottom: 0;
}

p{
    margin-top: 5px;
}

.user-profile-view label{
    width: 50%;
}

.user-profile-view span{
   font-weight: bold;
}